.bottom-bar-container {
  bottom: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .50);
  @media(max-width: $small-devices) {
    display: block;
  }
  .bottom-bar__limit-wrapper {
    /* Chrome, Safari, Edge, Opera */
    label {
      user-select: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    @media(max-width: $small-devices) {
      text-align: center;
    }
  }
  .bottom-bar__pagination-wrapper {
    display: flex;
    align-items: center;
    @media(max-width: $small-devices) {
      justify-content: center;
      margin-top: 15px;
    }
    button {
      @include box();
      border-radius: $primary-border-radius;
      font-size: 14px;
      padding: 5px 20px;
      transition: all ease-in-out .2s;
      user-select: none;
      text-transform: uppercase;
    }
    button:enabled {
      background: black;
      border: 1px solid black;
      cursor: pointer;
      color: white;
      &:hover {
        background: white;
        color: black;
      }
    }
    button:disabled {
      border: 1px solid grey;
      background: grey;
      cursor: not-allowed;
    }
    p {
      user-select: none;
      margin: 0 10px;
    }
  }
}