.image-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .image-modal-container__wrapper {
    box-shadow: 2px 2px 20px 1px;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
    background: white;
    border-radius: $primary-border-radius;
    .image-modal__header {
      background: #c7cad2;
      padding: 15px;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      justify-content: space-between;
      @include box();
      .modal-header__close-btn {
        background: transparent;
        border: 0;
        font-size: 18px;
        cursor: pointer;
        svg {
          @include box();
          border-radius: 25px;
        }
      }
      .modal-header__new-tab-btn {
        @include box();
        border-radius: $primary-border-radius;
        font-size: 14px;
        padding: 5px 20px;
        transition: all ease-in-out .2s;
        user-select: none;
        text-transform: uppercase;
        background: black;
        border: 1px solid black;
        cursor: pointer;
        color: white;
        text-decoration: none;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .5s ease;
}