.image-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 90px 0 100px 0;
  @media (max-width: $small-devices) {
    margin: 90px 0 150px 0;
  }
  .image-item-wrapper {
    position: relative;
    margin-top: 15px;
    img {
      @include box();
      border-radius: $secondary-border-radius;
      @media(max-width: $small-devices) {
        width: 300px;
      }
    }
    .image-item__overlay {
      cursor: pointer;
      border-radius: $secondary-border-radius;
      opacity: 1;
      transition: all ease-in-out .2s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 6px;
      .overlay__id {
        position: absolute;
        left: 20px;
        top: 10px;
        padding: .25em .75em;
        border-radius: 25px;
        background: #f1f5f8;
        @include box();
      }
      .overlay__author-name {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 5px 5px 15px;
        color: white;
        width: 160px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background: rgba(149, 156, 153, 0.7);
      }
      svg {
        position: absolute;
        right: 20px;
        bottom: 30px;
        color: white;
        cursor: pointer;
      }
    }
  }
}