#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.bottom-bar-container, .top-bar-container {
  position: fixed;
  left: 0;
  right: 0;
  background: $primary-color;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  input {
    outline: none;
    font-size: 14px;
    height: 25px;
    margin-left: 5px;
    border-radius: $secondary-border-radius;
    padding: 2px 5px;
    border: 0;
  }
}
.error--color {
  color: red;
}

.error--notification {
  width: 220px;
  position: fixed;
  top: 65px;
  right: -250px;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: $primary-border-radius;
  transition: right ease-in-out 0.3s;
  &.show {
    right: -10px;
  }
}

.spinner {
  margin-left: 50%;
  transform: translate(-50%);
  display: none;
  border: 7px solid grey; /* Light grey */
  border-top: 7px solid $primary-color; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  &.show {
    display: block;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}