.top-bar-container {
  top: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .50);
  .top-bar__brand-wrapper {
    display: flex;
    p {
      margin-left: 10px;
    }
  }
  .top-bar__search-wrapper {
    position: relative;
    .search__icon-btn {
      right: 0;
      left: -10px;
      &.to-right {
        &:hover {
          background: black;
          color: white;
        }
      }
      &.to-left {
        color: #999ea2;
        left: 10px;
        background-color: transparent;
      }
    }
    .search__close-btn {
      opacity: 0;
      right: 5px;
      background-color: transparent;
      &.is-visible {
        opacity: 1;
      }
    }
    button {
      position: absolute;
      border-radius: 25px;
      padding: 7px;
      border: 0;
      transition: all ease-in-out 0.7s;
      cursor: pointer;
      z-index: 1;
    }
    input {
      width: 0;
      opacity: 0;
      transition: all ease-in-out 0.7s;
      &.expanded {
        padding-left: 40px;
        width: 200px;
        opacity: 1;
        @media(max-width: $small-devices) {
          width: 150px;
        }
      }
    }

  }
  p {
    margin: 0;
  }
}