<template>
    <div>
        <div class="bottom-bar-container">
            <div class="bottom-bar__limit-wrapper">
                <label for="LimitField">
                    {{labels.itemsPerPage}}:
                </label>
                <input
                        @input="debounceInput"
                        :value="limit"
                        id="LimitField"
                        type="number"
                />
            </div>
            <div class="bottom-bar__pagination-wrapper">
                <button
                        :disabled="prevDisabled"
                        @click="onChangePage('prev')"
                >{{labels.prev}}</button>
                <p>{{labels.page}} {{activePage}}</p>
                <button
                        :disabled="nextDisabled"
                        @click="onChangePage('next')"
                >{{labels.next}}</button>
            </div>
        </div>
        <ErrorNotification
                message="Items per page are limited to 100"
                :show="limit > 100"
        />
    </div>
</template>
<script>
    import debounce from 'debounce';
    import ErrorNotification from "./ErrorNotification";

    export default {
        name: "BottomBar",
        props: {
            limit: Number,
            paginationLink: Object,
            activePage: Number
        },
        components: {
            ErrorNotification
        },
        watch: {
            paginationLink: function(newVal) {
                //check if object contains next/prev page data and disable btns accordingly
                this.nextDisabled = newVal && !newVal.next;
                this.prevDisabled = newVal && !newVal.prev;
            }
        },
        data: () => {
            return {
                prevDisabled: true,
                nextDisabled: true
            }
        },
        methods: {
            debounceInput: debounce(function(e) {
                    this.$emit('on-change-limit', parseInt(e.target.value));
                }, 500),
            onChangePage(dir) {
                this[dir+'Disabled'] = true;
                this.$emit('on-page-change', dir);
            }
        }
    }
</script>