<template>
    <div>
        <div class="error--notification" v-bind:class="{show}">
            <small
                    class="error--color"
            >
                {{message}}
            </small>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'ErrorNotification',
        props: {
            message: String,
            show: Boolean
        }
    }
</script>