<template>
    <transition name="modal-fade">
        <div class="image-modal-container modal-backdrop">
            <div class="image-modal-container__wrapper">
                <header class="image-modal__header">
                    <a
                            target="_blank"
                            :href="href"
                            class="modal-header__new-tab-btn"
                    >Open in new tab</a>
                    <button
                            class="modal-header__close-btn"
                            type="button"
                            @click="close"
                    >
                        <FontAwesomeIcon icon="times-circle" />
                    </button>
                </header>
                <iframe
                        :src="url"
                />
            </div>
        </div>
    </transition>
</template>
<script>
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faTimesCircle } from "@fortawesome/free-solid-svg-icons";
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    import config from '../mixins/const';

    library.add(faTimesCircle);
    export default {
        name: "ImageModal",
        props: {
            selectedImage: Object
        },
        components: {
            FontAwesomeIcon
        },
        data: () => {
            return {
                url: '',
                href: ''
            }
        },
        watch: {
            selectedImage: function (newValue) {
                //using proxy server to access the url in iframe in dev mode
                this.url = config.proxyUrl+newValue.url;
                this.href = newValue.url;
            }
        },
        methods: {
            close() {
                //reset state upon closing to not show the previous iframe view
                this.url = '';
                this.href = '';
                this.$emit('close-modal');
            }
        }
    }
</script>