<template>
    <div class="image-item-wrapper" @click="onClickImage">
        <img
           :src="`${baseUrl}/id/${obj.id}/${imageWidth}/${imageHeight}`"
           :alt="obj.author"
        />
        <div class="image-item__overlay">
            <p class="overlay__id">#{{obj.id}}</p>
            <p class="overlay__author-name">{{obj.author}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SingleImage",
        props: {
            obj: Object
        },
        methods: {
            onClickImage() {
                this.$emit('show-modal', this.obj);
            }
        }
    }
</script>