<template>
    <div class="spinner" v-bind:class="{show}"></div>
</template>
<script>
    export default {
        name: "Spinner",
        props: {
            show: Boolean``
        }
    }
</script>