<template>
    <div class="top-bar-container">
        <div class="top-bar__brand-wrapper">
            <img
                    src="../assets/logo.png"
                    alt="..."
                    height="30"
                    width="30"
            />
            <p>{{labels.brandName}}</p>
        </div>
        <div class="top-bar__search-wrapper">
            <button
                    @click="onClickSearch"
                    class="search__icon-btn"
                    v-bind:class="{ 'to-left': expandSearch, 'to-right': !expandSearch }"
            >
                <FontAwesomeIcon icon="search" />
            </button>
            <button
                    @click="onClickSearch"
                    v-bind:class="{'is-visible': expandSearch}"
                    class="search__close-btn"
            >
                <FontAwesomeIcon icon="times" />
            </button>
            <input
                    :placeholder="labels.searchPlaceHolder"
                    ref="searchInput"
                    v-model="searchStr"
                    v-bind:class="{ expanded: expandSearch }"
                    type="text"
                    @input="onChangeSearch"
            />
        </div>
    </div>
</template>
<script>
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faSearch, faTimes } from "@fortawesome/free-solid-svg-icons";
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

    library.add([faSearch, faTimes]);

    export default {
        name: "TopBar",
        components: {
            FontAwesomeIcon
        },
        props: {
            onSearch: Function
        },
        data: () => {
            return {
                expandSearch: false,
                searchStr: ''
            }
        },
        methods: {
            onClickSearch() {
                this.expandSearch = !this.expandSearch;
                if(this.expandSearch) {
                    this.$refs['searchInput'].focus();
                } else {
                    this.searchStr = '';
                    this.$emit('on-search', '');
                }
            },
            onChangeSearch(e) {
                this.searchStr = e.target.value;
                this.$emit('on-search', e.target.value);
            }
        }
    }
</script>