<template>
  <div id="app">
    <ImagesListMain />
  </div>
</template>

<script>
import ImagesListMain from './layouts/ImagesListMain.vue'

export default {
  name: 'App',
  components: {
    ImagesListMain
  }
}
</script>

<style lang="scss">
@import './scss/main.scss';
</style>
