<template>
    <div>
        <TopBar
                @on-search="onSearch"
        />
        <div
                class="image-list-container"
                v-bind:class="{show: allImages > 0}"
        >
            <SingleImage
                    v-for="image in allImages"
                    :key="image.id"
                    :obj="image"
                    @show-modal="showModal"
            />
        </div>
        <Spinner
                :show="allImages.length === 0"
        />
        <BottomBar
            :limit="limit"
            @on-change-limit="onChangeLimit"
            :paginationLink="paginationLink"
            @on-page-change="onPageChange"
            :activePage="page"
        />
        <ImageModal
                @close-modal="closeModal"
                :selectedImage="selectedImage"
                v-show="isModalVisible"
        />
    </div>
</template>

<script>
    import axios from 'axios';
    import SingleImage from "../components/SingleImage";
    import BottomBar from "../components/BottomBar";
    import TopBar from "../components/TopBar";
    import debounce from 'debounce';
    import ImageModal from "../components/ImageModal";
    import config from '../mixins/const';
    import Spinner from "../components/Spinner";

    export default {
        name: "ImagesListMain",
        components: {
            Spinner,
            TopBar,
            SingleImage,
            BottomBar,
            ImageModal
        },
        data: () => {
            return {
                limit: config.defaultImageLimit,
                page: 1,
                allImages: [],
                allImagesCc: [],
                paginationLink: {},
                isModalVisible: false,
                selectedImage: {}
            }
        },
        mounted() {
            this.fetchImages();
        },
        methods: {
            fetchImages() {
                axios.get(`${config.baseUrl}/${config.urlVersion}/list?page=${this.page}&limit=${this.limit}`)
                    .then((res) => {
                        if (res.status === 200) {
                            this.allImages = res.data;
                            //to keep copy of the original response for search filtering
                            this.allImagesCc = res.data;
                            this.paginationLink = this.parseLinkHeader(res.headers.link);
                        }
                    }).catch((err) => {
                        console.log(err);
                    });
            },
            onChangeLimit(newLimit) {
                if(newLimit && newLimit > 0) {
                    this.limit = newLimit;
                    this.fetchImages();
                }
            },
            onPageChange(rel) {
                //set all images to empty array to show spinner
                this.allImages = [];

                if(rel === "next") {
                    this.page++;
                    this.fetchImages();
                }
                if(rel === "prev") {
                    this.page--;
                    this.fetchImages();
                }
            },
            onSearch: debounce(function (str) {
                let value = str.toLowerCase();
                if(value.length >= 3) {
                    this.allImages = this.allImagesCc.filter(e => e.author.toLowerCase().includes(value));
                } else {
                    this.allImages = this.allImagesCc;
                }
            }, 500),
            showModal(e) {
                this.selectedImage = e;
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            },
            //snippet copied from provided assets reference
            parseLinkHeader: (header) => {
                const linkexp = /<[^>]*>\s*(\s*;\s*[^\(\)<>@,;:"\/\[\]\?={} \t]+=(([^\(\)<>@,;:"\/\[\]\?={} \t]+)|("[^"]*")))*(,|$)/g // eslint-disable-line
                const paramexp = /[^\(\)<>@,;:"\/\[\]\?={} \t]+=(([^\(\)<>@,;:"\/\[\]\?={} \t]+)|("[^"]*"))/g // eslint-disable-line

                const matches = header.match(linkexp)
                let rels = {}

                for (let i = 0; i < matches.length; i++) {
                    const split = matches[i].split('>')
                    const href = split[0].substring(1)
                    const ps = split[1]

                    const s = ps.match(paramexp)
                    for (let j = 0; j < s.length; j++) {
                        const p = s[j]
                        const paramsplit = p.split('=')
                        const rel = paramsplit[1].replace(/["']/g, '')
                        rels[rel] = href
                    }
                }

                return rels
            }
        }
    }
</script>